* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  padding-top: 10%;
  background-color: lightgray;
}

#root {
  height: 100%;
  width: 100%;
}

.box {
  top: 1rem;
  left: 1rem;
  display: inline-block;
  height: 100px;
  width: 100px;
  margin: 3rem;
  background-color: tomato;
  cursor: pointer;
}

.blue {
  background-color: skyblue;
}

.black {
  background-color: black;
}

.red {
  background-color: tomato;
}

#addBox {
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem 2rem;
  margin: 3rem;
  font-size: 1.2rem;
}
