* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  padding-top: 20%;
  background-color: lightgray;
}

#root {
  height: 100%;
  width: 100%;
}

.playGround {
  height: 100%;
  width: 100%;
  background-color: lightskyblue;
  z-index: 1;
}

.box {
  top: 1rem;
  left: 1rem;
  display: inline-block;
  height: 100px;
  width: 100px;
  margin: 3rem;
  background-color: tomato;
  cursor: pointer;
}

.blue,
.red,
.black {
  display: block;
}

.red {
  background-color: tomato;
}

.blue {
  background-color: blue;
}

.black {
  background-color: black;
}

#addBox {
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem 2rem;
  margin: 3rem;
  font-size: 1.2rem;
}

.overing * {
  pointer-events: none;
}

.drag {
  animation: moving 250ms;
  opacity: 0.2;
}

@keyframes moving {
  0% {
    opacity: 100;
  }
  100% {
    opacity: 0.2;
  }
}
